/* Général */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #fff;
}

.hidden {
  display: none;
}

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo .logo-link {
  display: flex;
  align-items: center;
}

.header__logo .logo-image {
  height: 80px;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list__item {
  list-style-type: none;
}

.nav-list__link {
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Ajustez la hauteur selon vos besoins */
}

.hero__title {
  font-size: 2em;
  margin-bottom: 20px;
}

.hero__description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero__actions {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}



.button:before,
.button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:hover {
  background-color: #0056b3;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  
  padding: 20px;
  text-align: center;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo .footer__logo-image {
  height: 80px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer-nav__item {
  list-style-type: none;
}

.footer-nav__link {
  color: #fff;
  text-decoration: none;
}

.footer__copy {
  text-align: center;
  padding-top: 20px;
}
.analyze-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.analyze-section .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.result-section {
 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.result__title {
  font-size: 32px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.result__title:before,
.result__title:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;

}





.wordcloud-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.wordcloud {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.sentiment-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.sentiment {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.transparent-background {
  background-color: #111827 /* Remplacez par la couleur de fond souhaitée */
}



#plasmaImage {
  animation: loading 2s linear infinite;
}

  


@keyframes plasma {
  0% {
    transform: scale(6) translate3d(20px, 0, 0);
  }
  50% {
    transform: scale(1) translate3d(-60px, 0, 0);
  }
  100% {
    transform: scale(6) translate3d(20px, 0, 0);
  }
}

#plasmaImage {
  animation: loading 2s linear infinite;
}
.plasma {
  backface-visibility: hidden;
  z-index: 20;
  position: relative;
  width: 100px; /* Adjust the size here */
  height: 100px; /* Adjust the size here */
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px 0 #8140ff inset;
  margin: 0 auto;
}
.plasma .gooey-container {
  filter: url(#gooey-plasma);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 20px #ff4081 inset;
  border-radius: 50%;
  overflow: hidden;
}
.plasma .gooey-container .bubble {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: right;
}
.plasma .gooey-container .bubble:before {
  content: "";
  display: inline-block;
  background: #ff4081;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(6) translate3d(20px, 0, 0);
  box-shadow: 0 0 15px 0 #0000ff inset, 0 0 10px 0 #0000ff inset;
}
.plasma .gooey-container .bubble:nth-child(1) {
  transform: translate(-50%, -50%) rotate(60deg);
}
.plasma .gooey-container .bubble:nth-child(1):before {
  animation: plasma 3.5s linear 0.25s infinite;
}
.plasma .gooey-container .bubble:nth-child(2) {
  transform: translate(-50%, -50%) rotate(120deg);
}
.plasma .gooey-container .bubble:nth-child(2):before {
  animation: plasma 4s linear 0.5s infinite;
}
.plasma .gooey-container .bubble:nth-child(3) {
  transform: translate(-50%, -50%) rotate(180deg);
}
.plasma .gooey-container .bubble:nth-child(3):before {
  animation: plasma 4.5s linear 0.75s infinite;

}

.loading-text {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.dot {
  animation: dot 1s infinite;
}

@keyframes dot {
  0%, 60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
