<!DOCTYPE html>
<html>
  <head>
    <title>MoodIT</title>
    <link href="../static/styles.css" rel="stylesheet">
    <script>
      function showLoadingSpinner() {
        document.getElementById('loadingGif').style.display = 'block';
        const formData = new FormData(document.getElementById('uploadForm'));
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        xhr.onload = function() {
          if (xhr.status === 200) {
            console.log('Fichier PNG chargé avec succès!'); // Ajoutez cette ligne
            document.getElementById('loadingGif').style.display = 'none';
            // Redirect to the /result page
            window.location.href = '/result';
          } else {
            console.log('Une erreur s\'est produite');
          }
        };
        xhr.send(formData);
      }
    </script>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a class="logo-link" href="/">
            <img src="../static/logo.png" alt="Logo" class="logo-image">
          </a>
        </div>
      </div>
    </header>
  
    <section class="hero">
      <div class="analyze-section">
        <div class="hero__container">
          <h1 class="hero__title">
            Do you have risk to have a disease?
          </h1>
          <p class="hero__description">
            Thanks to our system, you'll be able to analyze a photo of your eye and know if you have a risk to contract a diseas or if you have already one !
          </p>
          <form id="uploadForm" class="hero__actions">
              <label for="fileInput" class="button button-primary">
                  Upload your photo
                  <input type="file" name="file" id="fileInput" accept=".png" class="hidden">
              </label>
              <button type="button" class="button button-primary" onclick="showLoadingSpinner()">Analyze your eye</button>
          </form>



          <div class="loader" id="loadingGif" style="display: none;">
            <svg width="0" height="0">
              <filter id="gooey-plasma">
                   <feGaussianBlur in="SourceGraphic" stdDeviation="20" result="blur"/>
                   <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 50 -16" result="goo" />
               </filter>
             </svg>
             <div class="plasma">
               <div class="gooey-container">
                 <span class="bubble"></span>
                 <span class="bubble"></span>
                 <span class="bubble"></span>
                 <span class="bubble"></span>
                 <span class="bubble"></span>
                 <span class="bubble"></span>
               </div>
             </div>
             <div class="loading-text">
              Loading<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
            </div>
          </div>
          
          <!-- Display uploaded image and "Test réussi" message here -->
          <div id="imageContainer" style="display: none;">
            <img id="uploadedImage" src="#" alt="Uploaded Image">
            <p id="testMessage">Test réussi!</p>
          </div>
          
          <div id="chartContainer" class="chart"></div>
        </div>
      </div>
    </section>
    
    <footer class="footer">
      <div class="footer__container">
        <div class = "footer__logo">
          <img src="../static/logo.png" alt="Logo" class="footer__logo-image">
        </div>
      </div>
    </footer>
  </body>
</html>
